a{
    color: #517ebb;
}
table{
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
    border-top: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
}
td{
    backgroud:#fff;
    border-bottom: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    padding: 0 5px;
    text-align:center;
}
tbody tr:hover{
    background: #eef1f6;
}
.f-cb:after{
    content:'';
    display:block;
    clear:both;
    height:0px;
    visibility: hidden;
}
.checked-row{
    background:#eaf3fd;
}

.x-checkbox{
    position:relative;
    display:inline-block;
    width:16px;
    height:16px;
    box-sizing: border-box;
    border:1px solid #e3e3e3;
    transition:border-color .15s cubic-bezier(.71,-.46,.29,1.46),background-color .1s cubic-bezier(.71,-.46,.29,1.46);
    border-radius: 3px;
}
.x-checkbox.checked{
    background-color: #65C178;
    border-color: #8bd6c2;
}
.x-checkbox.checked:after{
    position:absolute;
    display: inline-block;
    top:3px;
    left:3px;
    content:'';
    width:6px;
    height:3px;
    border:2px solid #fff;
    border-top:0;
    border-right:0;
    transition: transform .15s cubic-bezier(.71,-.46,.88,.6) .05s;
    transform-origin: center;
    transform: rotate(-45deg);
}
.bolder{
    font-weight: bolder;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}
.bg-gray{
    background:#e9e9e9;
}
.bg-gray:hover{
    background:#e9e9e9;
}